<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - COMP2139</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Assignment1.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">COMP2139</a>

            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item">
                    <a class="nav-link px-3" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" asp-area="" asp-controller="Orders" asp-action="CreateOrder">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container mt-4">
    <main role="main" class="card shadow-sm p-4">
        @RenderBody()
    </main>
</div>

<footer class="bg-dark text-light text-center py-3 mt-4">
    <p>&copy; @DateTime.Now.Year - COMP2139 Assignment 1</p>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>